<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <h1>Usuario:</h1>
    <h2>{{nombre}}</h2>
    <p>{{edad}}</p>
    {% if edad>=18 %}
        <p>Es mayor de edad</p>
    {% endif %}

    {% for item in milista %}
    <p>{{item}}</p>
    {% endfor %}
</body>
</html>